/* Definição de estilo para o corpo da página */
body {
    /* Fundo gradiente circular */
    background: rgb(247, 136, 47);
    background: radial-gradient(circle, rgba(247, 136, 47, 1) 0%, rgba(247, 195, 49, 1) 96%);
}

/* Definição de estilo para links */
a {
    color: white;
}

/* Estilo para o cabeçalho */
header.topo {
    padding: 10px;
}

/* Estilo para o logotipo no cabeçalho */
.topo_logo {
    width: 100px;
}

/* Estilo para o conteúdo da janela lateral */
.aside_content {
    display: none
}

/* Estilo para a seção principal da página */
.pag_origem {
    text-align: center;
    position: relative;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
}

/* Estilo para os ícones da linha do tempo */
.timeline_icone {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
    opacity: 0.5;
}

/* Estilo para o ícone ativo da linha do tempo */
.timeline_icone.active {
    opacity: 1;
}

#container, #popup{
    width: 300px;
    height: 300px;
    overflow: hidden;
}
#pag{
    width: 600px;
    height: 1200px;
}
#popup{
    margin-top: 300px;
    background-color: grey
}