*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body .barra_topo {
    width: 100vw;
    height: 50px;
    background-color: #f9f9ed;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
}
body .barra_topo:hover {
    opacity: 1;
}
body .img_base {
    width: 100vw;
    height: 100vh;
    display: block;
}
body .balao_fala {
    position: absolute;
    background-color: #f9f9ed;
    padding: 1rem 2rem;
    width: 450px;
    border-radius: 15px;
    opacity: 0;               /* Começa transparente */
    visibility: hidden;      /* Começa invisível, mas ainda ocupa espaço, o que nos permite obter sua altura */
    transform: translateY(0); /* Um pequeno movimento para a animação */
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s; /* Transições para suavidade */
    -webkit-box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
}
body .balao_fala.visible {
    opacity: 1;          /* Totalmente visível */
    visibility: visible; /* Torna visível */
    transform: translateY(0); /* Retorna à posição original */
}
body .balao_fala:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
    /*Aqui entra a cor da "aba" do balão */
    border-top: 20px solid #f9f9ed;
    bottom: -20px; /*localização. Experimente alterar para 'bottom'*/
    right: 20%;
    transform: translateX(-50%);
}
body .balao_fala .balao_btn {
    background-color: #7d84b2; /* azul primário */
    color: #f9f9ed; /* texto branco */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* transição suave para o hover */
    float: right;
    /* Estilização para quando o botão é clicado */
    outline: none; /* remova o contorno padrão do botão ao clicar */
}

body .balao_fala .balao_btn:hover {
    background-color: #d6d8ee; /* um azul um pouco mais escuro para o hover */
}

body .balao_fala .balao_btn:active {
    transform: scale(0.95); /* dá uma sensação de pressionamento quando o botão é clicado */
}

body .balao_item {
    position: absolute;
    background-color: #f9f9ed;
    padding: 1rem 2rem;
    width: 450px;
    border-radius: 15px;
    opacity: 0;               /* Começa transparente */
    visibility: hidden;      /* Começa invisível, mas ainda ocupa espaço, o que nos permite obter sua altura */
    transform: translateY(10px); /* Um pequeno movimento para a animação */
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s; /* Transições para suavidade */
    -webkit-box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
}
body .balao_item.visible {
    opacity: 1;          /* Totalmente visível */
    visibility: visible; /* Torna visível */
    transform: translateY(0); /* Retorna à posição original */
}
body .balao_item:after{ 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    /*Aqui entra a cor da "aba" do balão */
    border-top: 20px solid #f9f9ed;
    bottom: -20px; /*localização. Experimente alterar para 'bottom'*/
    right: 20%;
}
body .balao_item .balao_btn {
    background-color: #7d84b2 ; /* azul primário */
    color: #f9f9ed; /* texto branco */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* transição suave para o hover */
    float: right;
    /* Estilização para quando o botão é clicado */
    outline: none; /* remova o contorno padrão do botão ao clicar */
}

body .balao_item .balao_btn:hover {
    background-color: #d6d8ee; /* um azul um pouco mais escuro para o hover */
}

body .balao_item .balao_btn:active {
    transform: scale(0.95); /* dá uma sensação de pressionamento quando o botão é clicado */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none; /* Começa escondido */
    z-index: 1; /* Sobre a maioria dos outros elementos da página */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9ed;
    padding: 2rem 3rem;
    display: none; /* Começa escondido */
    z-index: 2; /* Sobre o overlay e outros elementos da página */
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#modal_adotante,#modal_nao_adotante, #racao_form, #modal_ongs{
    width: 50vw;
    height: 90vh;
    padding: 20px;
    border-radius: 8px;
    position: fixed; /* Torna o formulário fixo na tela */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
    overflow-y: auto; /* Adiciona scroll quando necessário */
    background-color:#f9f9ed; /* Adiciona um fundo branco */
}
.adocao-obrigado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Isso centralizará verticalmente a imagem na tela inteira. Você pode ajustar a altura conforme necessário. */
  }
  
  img {
    max-width: 100%; /* Certifica-se de que a imagem não ultrapasse a largura do contêiner. */
    max-height: 100%; /* Certifica-se de que a imagem não ultrapasse a altura do contêiner. */
  }

  .nao-adotante {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Isso centralizará verticalmente a imagem na tela inteira. Você pode ajustar a altura conforme necessário. */
  }
  
  img {
    max-width: 100%; /* Certifica-se de que a imagem não ultrapasse a largura do contêiner. */
    max-height: 100%; /* Certifica-se de que a imagem não ultrapasse a altura do contêiner. */
  }

#balao_adotante{
    width: 15vw;
    font-size: 14px;
}

#balao_origem {
    width: 15vw;
    position: absolute;
    font-size: 14px;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    -webkit-box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 62px -30px rgba(0,0,0,0.75);
  }
  #balao_origem::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: #f1f1f1;
    position: absolute;
    bottom: -7px;
    left: 30px; /* Alterado para aparecer à esquerda */
  }
  #balao_origem::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #f1f1f1;
    position: absolute;
    left: 15px; /* Alterado para aparecer à esquerda */
    bottom: -21px;
  }
  
  #balao_origem {
    filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
  }
  .input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #f9f9ed;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-group label {
    margin-right: 10px;
}

.modal-content button, button {
    background-color: #7d84b2;
    color: #f9f9ed;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover, button:hover {
    background-color: #d9dbf1;
}
fieldset{
    border-color: #dbfa47;
}

#cachorro_colo, #carinho_chao, #atendente_adocao,#cachorro_colo, #carinho_chao, #atendente_adocao, #gaiola_3, #gaiola_2, #gaiola_1, #gaiola_vazia, #vet, #groomer, #dog_gym, #menina_cachorro, #recep_infocao, #gaiolas, #casinha, #brincando_bolinha, #quadro_3, #quadro_2, #quadro_1, #recepcao, #roupinhas, #almofada, #pct_racao, #racao, #corgi, #passeador, #espera{
    filter:grayscale(100%);
}

.conteudo_mobile{
    display: none;
}

@media (max-width: 810px){
    .conteudo_mobile {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        border-radius: 15px;
        overflow: scroll;
        margin: 10px;
       /* recomiendo quitar esto/quit this */
    }
    
    .texto_mobile.ativo {
        display: block;
    }
    .texto_mobile {
        display: none;
    }

    .mobile {
        flex: 1;
        display: flex;
        min-height: fit-content;
        align-items: center;
        justify-content: center;
        color: #474747;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }
    
    .mobile:nth-child(1) {
        background: #7d84b2;
    }
    
    .mobile:nth-child(2) {
        background: #8e9dcc;
    }
    
    .mobile:nth-child(3) {
        background: #d9dbf1;
    }
    
    .mobile:nth-child(4) {
        background: #f9f9ed;
    }
    
    .mobile:nth-child(5) {
        background: #dbfa47;
    }
    
    /* .mobile:hover {
        flex: 2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    .mobile:hover span {
        opacity: 1;
    } */

    .svg_desktop{
        display: none;
    }

    .barra_topo{
        display: none;
    }

    #baloes_desktop{
        display: none;
    }

    #racao_form{
        display: none;}
}